<h1 class="h1-header">Bio</h1>
<hr class="dashed">

<div class="label label-info" style='margin-left: -20px;'>Work in progress!</div>
			<%= image_tag 'mike.jpeg', alt: 'Mike Holubowki at Economic Summit, SB', class: 'mike' %>
		</a>
		<%= link_to image_tag('linkedin.png'), "http://www.linkedin.com/in/mikeholubowski", id: 'nav-linkedin' %>

<!-- First Row -->
<div class="row-fluid bio">

	<div class="span3 picture-box shadow">
		<%= link_to image_tag("mike.jpeg") %>
		<p>Venice Pier</p>
	</div>

	<div class="span8 well">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>

</div>

<!-- Second Row -->
<div class="row-fluid bio">

	<div class="span1"></div>

	<div class="span8 well">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>

	<div class="span3 picture-box shadow">
		<%= link_to image_tag("bio-surf.png") %>
		<p>Venice Pier</p>
	</div>

</div>

<!-- Third Row -->
<div class="row-fluid bio">

	<div class="span3 picture-box shadow">
		<%= link_to image_tag("bio-surf.png") %>
		<p>Venice Pier</p></div>

	<div class="span8 well">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>

</div>

