<div class="intro-wrapper">
	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="slogan" style="color:white;">
				Web <span class="blue">application</span> developer
			</div>
		</div>
	</div>

  <!-- option 1 -->
  <div class="menu-btns-container-1">
    <div class="menu-btns-wrapper">
      <!-- projects skills bio contact blog -->
      <div class="menu-btn"><%= link_to 'projects', projects_path %></div>
      <div class="menu-btn"><%= link_to 'skills', skills_path %></div>
      <div class="menu-btn"><%= link_to 'bio', bio_path %></div>
      <div class="menu-btn"><%= link_to 'contact', contact_path %></div>
      <div class="menu-btn"><%= link_to 'blog', posts_path %></div>
    </div>
  </div>


</div>
