<div class="admin-nav-container">

  <div id="admin-nav">
    <div class="nav-inner">
      <div class="left">
        <div class="logo nav-el">Who Blogs Anyway</div>
      </div>

      <div class="right">
        <%= link_to raw('X'), logout_path, class: 'logout nav-el' %>
      </div>
    </div>
  </div>

  <div id="admin-nav-submenu" class="hidden">
    <div class="link-wrapper">
      <%= link_to 'All Posts', admin_posts_path, class: ' ' %>
      <%= link_to 'New Post', new_admin_post_path, class: ' ' %>
      <%= link_to '-', admin_root_path, class: ' ' %>
      <%= link_to 'mikeholubowski.com', root_path, class: ' ' %>
    </div>
  </div>

</div>
