<div class="form new-post-form admin">
  <%= form_for [:admin, @post] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :url_alias %>
    <%= f.text_field :url_alias %>  

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.label 'Create!' %>
    <%= f.submit %>
  <% end %>
</div>

<form>
  <fieldset>
    <legend>Legend</legend>
    <label>Label name</label>
    <input type="text" placeholder="Type something…">
    <span class="help-block">Example block-level help text here.</span>
    <label class="checkbox">
      <input type="checkbox"> Check me out
    </label>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
