<div class="form new-post-form admin">
  <%= form_for [:admin, @post] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :url_alias %>
    <%= f.text_field :url_alias %>  

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.label 'Create!' %>
    <%= f.submit %>
  <% end %>
</div>

<div id="epiceditor"></div>
