<div class="toggle-btns">
  <%= link_to 'List View', admin_posts_path, class: 'btn' %>
  <%= link_to 'Table View', admin_posts_table_view_path, class: 'btn btn-primary' %>
</div>

<div class="admin-table-wrap">
  <table class="admin-table table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date Published</th>
        <th>Active?</th>
        <th>Total Views</th>
        <th>a</th>
        <th>b</th>
        <th>c</th>
      </tr>
    </thead>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.user.name %></td>
        <td><%= post.created_at %></td>
        <td><%= post.active? %></td>
        <td><%#= post.total_views %></td>
        <td>a</td>
        <td>b</td>
        <td>c</td>
      </tr>
    <% end %>
  </table>
</div>
