<div class="toggle-btns">
  <%= link_to 'List View', admin_posts_path, class: 'btn' %>
  <%= link_to 'Table View', admin_posts_table_view_path, class: 'btn btn-primary' %>
</div>

<div class="admin-table-wrap">
  <table class="admin-table table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date Published</th>
        <th>Active?</th>
        <th>Total Views</th>
        <th>FB Views</th>
        <th>HN Views</th>
        <th>Twitter Views</th>
        <th>Reddit Views</th>
        <th>Other Views</th>
        <th>Last View</th>
      </tr>
    </thead>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.user.name %></td>
        <td><%= post.created_at %></td>
        <td><%= post.active? %></td>
        <% a_t = post.analytics_tracker %>
        <td><%= a_t.total_views %></td>
        <td><%= a_t.facebook_views %></td>
        <td><%= a_t.hacker_news_views %></td>
        <td><%= a_t.twitter_views %></td>
        <td><%= a_t.reddit_views %></td>
        <th><%= a_t.other_views %></th>
        <th><%= distance_of_time_in_words(Time.now - a_t.last_viewed_at) %></th>
      </tr>
    <% end %>
  </table>
</div>
