<div id="set-game-container">
	<div class="row">

		<!-- <button type="button" data-toggle="modal" data-target="#highScoreModal">Launch modal</button> -->
		<!-- Modal -->
		<div id="highScoreModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">High Score!</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="span3">
						<p>Your a champ!</p>
						<%= form_for SetPlayer.new, remote: false do |f| %>
						<%= f.label :name %>
						<%= f.text_field 'name', :class => 'submittable' %>
						<%= f.hidden_field 'high_score', :class => 'submittable' %>
						
						<br> 
						<%= f.submit 'Submit!'%>
						<% end %>

					</div>
					
					<div id="form-high-score" class="span3">
						<div class="label label-info">Score</div>
						<div id="score-big">878</div>
					</div>

				</div>
			</div>
		<!-- 	<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary">Save changes</button>
			</div>
		 -->
		</div>



		<div class="span4">
			<div class="well highscores">
				<div class="label">High Scores</div>
				<ol>
					<% @players.each do |player| %>
					<li><span class="name"><%= player.name %></span><span class="score"> <%= player.high_score %></span></li>
					<% end %>
				</ol>
			</div>
		</div>

		<div class="span4">
			<div class="well highscores">
				<div class="label">Game Rules</div>
				<ul>
					<li><span class="name">Find sets of <strong>3</strong> cards</span></li>
					<li><span class="name">Cards consist of: <br> <strong>shape</strong> <strong>color</strong> <strong>count</strong> and <strong>pattern</strong> </span></li>
	<!-- 				<li><span class="name">Rules rules</span></li>
					<li><span class="name">Rules rules</span></li> -->
					<li><span class="name"><a href="http://setgame.com/images/tutorial/flash_version/set_flash_tutorial.htm" target="_blank">Flash Tutorial</a></span></li>
				</ul>
			</div>
		</div>

		<div class="span4">
			<div id="scoring-rules" class="well highscores">
				<div class="label">Scoring Rules</div>
				<ul>
					<li><span class="green"> +30 </span>Find correct Set</li>
					<li><span class="red"> -10 </span>Dealing extra cards </li>
					<li><span class="red"> -5 </span>Choose incorrect set</li>
					<li><span class="red"> -5 </span>Every 30 seconds of play </li>
				</ul>
			</div>
		</div>

	</div>
	<div id="score">
		<span id="label">Score:</span>
		<span id="count">100</span>
	</div>

	<div id="timer"> <span>0</span> seconds</div>

	<div id="spacer">
		Possible Sets:
		<br>
		<span>~</span>
	</div>

	<div id="cards-left"> <span>81</span> cards left</div>
	
	<div id="add"> Deal 3 Cards </div>


	<div id="cards-container">

	</div>
</div>