
<div class="container-fluid nav-con">
	<div id="nav" class="row-fluid shadow">

		<!-- "Mike Holubowski" -->
		<div class="span4 myName" >
			<%= link_to raw('<h1 class="code-yellow">Mike Holubowski</h1>'), root_url %>
			<hr style="margin-top:4px;">
			<hr style="width:90%;">
			<h4 class="code-blue">Web Development / Technology Management</h4>
			<!-- <h4 id="width-display"></h4> --> 
		</div>

		<!-- Gravatar -->
		<div class="span4" style="text-align:center">
			<div class="label label-info" style='margin-left: -20px;'>Work in progress!</div>
			<%= image_tag 'mike.jpeg', alt: 'Mike Holubowki at Economic Summit, SB', class: 'mike' %>
		</a>
		<%= link_to image_tag('linkedin.png'), "http://www.linkedin.com/pub/mike-holubowski/49/9a4/927", id: 'nav-linkedin' %>

	</div>

	<!-- Typed heading -->
	<div class="span4">
		<div class="hidden-phone" style="margin:0 auto;">
			<h4 class="code-yellow typed">

				<%= 
				case 

				when params[:action] == 'intro'
					"Clever clever clever words"

				when params[:action] == 'home'
					"Still a work in progress.."

				when params[:action] == 'projects'
					"Past and present projects" 

				when params[:controller] == 'project'
					"Past and present projects" 

				when params[:action] == 'skills'
					"An honest assesment of skills"

				when params[:action] == 'bio'
					"A bit about who I am today.."

				when params[:action] == 'contact'
					"Feel free to contact me!"
				end

				%>	<span>&nbsp;</span>

			</h4>
		</div>
		<br>
		<hr style="width:90%; margin-left:10%;">
		<hr>

		<!-- Page Navigation -->
		<div id="links">
			<br>
			<ul> 

				<li><%= link_to "intro", root_url, class: 'active' if params[:action] == 'intro' %> 
						<%= link_to raw("&raquo; intro"), root_url if params[:action] != 'intro' %></li>

				<% if params[:controller] == 'project' || params[:action] == 'projects' %>
				<li> <%= link_to "projects", projects_path, class: 'active' %> </li>
				<% else %>
				<li> <%= link_to raw("&raquo; projects"), projects_path %> </li>
				<% end %>

				<li><%= link_to "skills", skills_path, class: 'active' if params[:action] == 'skills' %> 
						<%= link_to raw("&raquo; skills"), skills_path if params[:action] != 'skills' %></li>

				<li><%= link_to "bio", bio_path, class: 'active' if params[:action] == 'bio' %>  
						<%= link_to raw("&raquo; bio"), bio_path if params[:action] != 'bio' %></li>

				<li><%= link_to "contact", contact_path, class: 'active' if params[:action] == 'contact' %>  
						<%= link_to raw("&raquo; contact"), contact_path if params[:action] != 'contact' %></li>
								
			</ul>
		</div>

	</div>
	</div>
</div>   
						controller: <strong><%= params[:controller] %></strong>
						<br>
						action: <strong><%= params[:action] %></strong>