<!DOCTYPE html>
<html>

<head>
	<title>Mike Holubowski</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<%= render 'layouts/header' %>
	<%= render 'layouts/nav' %>

	<div id="work-in-progress">
		<i class="icon-star-empty"></i>This site is a work in progress! <small>8/21/13</small>
	</div>

	<% if current_page? root_path %>
		<% n = [1,2,3,4,5].shuffle.first %>
		<div class="backdrop-image-<%=n%>">
		<div class="backdrop-color">
	<% end %>

		<div id="main-area" class="container-fluid ">
			<%= yield %>
		</div>
	
	<% if current_page? root_path %>
		</div>
		</div>
	<% end %>

	<%= render 'layouts/footer' %>
	<%= render 'layouts/google_analytics' if Rails.env.production? %>
</body>

</html>
