<!DOCTYPE html>
<html>

<head>
	<title>Mike Holubowski</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<%= render 'layouts/header' %>
	<%= render 'layouts/nav' %>

	<div id="main-area" class="container-fluid">
		<%= yield %>
	</div>

	<%= render 'layouts/footer' %>
	<%= render 'layouts/google_analytics' if Rails.env.production? %>
</body>

</html>
